@tailwind base;
@tailwind components;
@tailwind utilities;

.img{
    background-image: url('./assets/signup.png');
}

@media screen and (max-width: 768px) {
    .img{
        background:none;
    }
}

.img1{
    background-image: url('./assets/signin1.png');
}

@media screen and (max-width: 768px) {
    .img1{
        background-image: url('./assets/signin.png');
    }
}